.subreddit-list{
    text-align: center;
    padding: 5px;
    
}

.subreddits{
    background-color: var(--secondary-bgc);
    height: 100%;
}

.subreddit-list button {
    background-color: var(--primary-bgc);
    padding: 5px;
    border-radius: 10px ;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

@media (max-width:800px) {
    .subreddit-list{
        display: inline-flex;
        flex-wrap: wrap;
        
    }
}


