*{
    margin: 0;
    font-family: var(--ff);
}

body{
    background-color: var(--primary-bgc)
}

.component-divider{
    border: none;
    padding-bottom: 30px;
}

.page{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 50px ;
}