*{
  margin: 0;
  padding: 0;
  
  font-family: var(--ff);
}
body{
   background-color: var(--primary-bgc);
}

.componentsDivider{

  margin-bottom: 5px;
  padding: 5px;
  border: none;
  background-color:  var(--secondary-bgc);
  box-shadow: var(--d-sh); 
}
